<!DOCTYPE html>
<html>
  <head>
    <title>billboard.js DEMO</title>
   
<!-- Load billboard.js css files via cdn -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css">

<!--Load D3.js -->
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- Load billboard.js via cdn --> 
<script src="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
</head>
  


  
  <body>
    <section >
  <div class="container mt-5">
    <div class="row ">
      <div class="col-md-12 ">
<h5>Hi,I'am Anseera T K,This is my Home Assignment NodeJS</h5>
</div>

      </div>
       
    </div>
</div>
</section>
    <div id="chart">
        <script src="YOUR_PROJECT_PATH/admin.js"></script>
    </div>

  </body>
</html>
