<section >
  <div class="container mt-5">
    <div class="row ">
      <div class="col-md-12 ">
         <div class="card ">
            <div class="card-header">
                <h3>List Warehouses <a href="/admin/addwarehouse/" class="btn btn-success" style="float:right;">Add</a></h3>
            </div>
            <div class="card-body">                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Warehouse Number</th>
                            <th scope="col">Stock Limt</th>
                         
                        </tr>
                    </thead>
                    <tbody>
                        {{#each warehouse}}
                            <tr>
                                <td>{{warehouse_number}}</td>
                                <td>{{stock_limit}}</td>
                               
                                <td>
                    {{!-- <a href="/admin/editWarehouses/{{this._id}}">Edit</a> --}}
                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

      </div>
       
    </div>
</div>
</section>

